@use '../../styles/abstracts/functions';
@use '../../styles/abstracts/mixins';

form.create-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.box-input {
    margin-top:functions.spacing('medium');
}