@use '../../styles/abstracts/functions';
@use '../../styles/abstracts/mixins';

ul{
    list-style-type:none;
    width:35rem;
    display:inline-block;
}

button{
    height:2rem;
    width:7.5rem;
    margin:functions.spacing('xs');
    
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

   
li.logout_button {
    position: relative;
    display: inline-block;
}

a{
    text-decoration:none;
    color:functions.color('black');
}

img{
    height:5rem;
    width:4rem;
}

.boxes2{
    display:flex;
}

button.logout-button {
    margin-left: functions.spacing('medium');
}