@use '../../styles/abstracts/functions';
@use '../../styles/abstracts/mixins';


h1 {
    margin-left: functions.spacing('margin');
    margin-top: functions.spacing('x-large');
}

form.recipe-finder-form {
    margin-left: functions.spacing('margin');
}

h2.instructions {
    font-size: 1.2rem;
    margin-left: functions.spacing('margin');
}

button.add-button {
    margin-top: functions.spacing('xs');
}


input.input-ingredients {
    margin-left: functions.spacing('xs');
}

button.submit-button {
    height: functions.spacing('x-large')
}

button.eachRecipe {
    height: 4rem;
    width:15rem;
    font-size:0.9rem;
}

ul.recipes {
    margin-left: 2rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form.searchForm {
    margin-left: 5rem;
}

.search-box {
    margin-bottom: 2rem;
}

input[type="text"],select {
    margin-left: functions.spacing('medium');
}

.buttonsForForm {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

button.buttonform {
    height: 3rem;
    background-color:functions.color('buttons')
}

button.active{
    background-color: functions.color('buttons');
}

h2{
    font-size: 1rem;
    margin-left:functions.spacing('medium');
}
 
.entire-form {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.random-recipe {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

