@use '../../styles/abstracts/functions';
@use '../../styles/abstracts/mixins';


ul.recipes {
    margin-left: 2rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:1rem;
}
  



  .recipe-each {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



img.recipeThumbnail.recipe-each {
    width: 12rem;
    height: 8rem;
}

// img{
