@use '../../styles/abstracts/functions';
@use '../../styles/abstracts/mixins';




clicked-recipe {
    margin-left: functions.spacing('margin');
}


button.save-button {
    margin-left: 4rem;
}

.full-recipe{
    margin-left:functions.spacing('margin');
}

img.image {
    height: 14rem;
    width: 19rem;
    border: 3px solid #d9be9f;
    padding:1rem;
}



.instructions {
    margin-left:3rem;
}

h3{
    margin-left:0;
}

button.save-recipe{
    margin-left:functions.spacing('margin');
}

.pagination{
    position: relative;
    margin-top: 6rem;
    margin-left:functions.spacing('margin');
}

