@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$color-light-yellow:#ded693;
$color-mid-green:#609c72;
$color-dark-green:#276439;
$color-black:black;
$color-white:rgb(255, 255, 255);
$color-cream:rgb(248, 248, 205);
$color-magenta:#7E4E60;
$color-rose:#896773;
$color-light-grey:#e7e3f1;


$colors:(
    'background':$color-light-grey,
    'foreground':$color-light-grey,
    'accent-foreground':$color-mid-green,
    'accent-background':$color-dark-green,
    'white':$color-white,
    'black':$color-black,
    'buttons':$color-light-yellow
);


$font-family: 'Quicksand', sans-serif;


$font-weight:(
    'light':200,
    'normal':400,
    'bold':700
);

$breakpoints:(
    'regular':(
        min-width:768px,
    ),
    'large':(
        min-width:1024px,
    ),
    'extra-large':(
        min-width:1280px,

    ),

);

$spacing:(
    'xxs':0.5rem,
    'xs': 1rem,
    'small':1.5rem,
    'medium':2rem,
    'large':2.5rem,
    'x-large':3rem,
    'xx-large':3.5rem,
    'margin':5rem,
);

$max-width:(
    'xs':5px,
    'small':10px,
    'medium':13px,
    'large':16px,
    'x-large':20px,
);

