@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$color-light-green:rgb(126, 184, 126);
$color-mid-green:rgb(38, 151, 38);
$color-dark-green:rgb(9, 61, 9);
$color-black:black;
$color-white:rgb(255, 255, 255);
$color-cream:rgb(248, 248, 205);
$color-grey:rgb(61, 54, 54);


$colors:(
    'background':$color-cream,
    'foreground':$color-light-green,
    'accent-foreground':$color-mid-green,
    'accent-background':$color-dark-green,
    'white':$color-white,
    'black':$color-black,
);


$font-family: 'Quicksand', sans-serif;


$font-weight:(
    'light':200,
    'normal':400,
    'bold':700
);

$breakpoints:(
    'regular':(
        min-width:768px,
    ),
    'large':(
        min-width:1024px,
    ),
    'extra-large':(
        min-width:1280px,

    ),

);

$spacing:(
    'xxs':0.5rem,
    'xs': 0.1rem,
    'small':1.5rem,
    'medium':2rem,
    'large':2.5rem,
    'x-large':3rem,
    'xx-large':3.5rem,
);

$max-width:(
    'xs':5px,
    'small':10px,
    'medium':13px,
    'large':16px,
    'x-large':20px,
);

